@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Betania+Patmos+In&family=Federant&family=Gravitas+One&family=Instrument+Serif:ital@0;1&family=PT+Sans+Narrow:wght@400;700&family=Tapestry&display=swap');
@import url('https://db.onlinewebfonts.com/c/c5bd605b45237a12c99133fa9d7cae49?family=Helvetica+W01+Roman');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:"Poppins",sans-serif;
}

/* ================= MOBILE FIRST ================= */

.main-container{
  display:flex;
  flex-direction:column;
  position: relative;
  overflow: hidden;
}

.menu-panel.active{
  transform: translateX(0);
}

.top-content{
  position: absolute;
  top: 20px;              /* space from top */
  left: 50%;
  transform: translateX(-50%);  /* center horizontally */

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff;
  padding: 12px 25px;
  border-radius: 8px;
  height: 50px;
  width: 280px;           /* card width */
  z-index: 8;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.book-button{
    font-family:"Instrument Serif",serif;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px; 
    align-items: center;
    background: #000000;
    color: white;
    padding: 12px 25px;
    height: 50px;
    width: 120px;           
    z-index: 8;
}   

.button-content{
  font-family:"Tapestry",serif;
  font-size: 28px;
  font-weight: 500;
  font-style: italic;
}

.pin-image{
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 50;
  cursor: pointer;
}

/* LEFT SIDE */
.left-content{
  background:#eaeaea;
  text-align:center;
  padding:120px 20px 50px; 
}

h1{
  font-family:"Tapestry",serif;
  font-size:2.2rem;
  line-height:1;
  margin-bottom:20px;
}

.content2 p{
  font-family:"Instrument Serif",serif;
  font-size:1.3rem;
  margin-bottom:30px;
}

/* BUTTONS */
.content3 a{
  display:block;
  text-decoration:none;
  background:black;
  color:white;
  padding:12px;
  margin:10px auto;
  width:150px;
  transition:.3s;
}

.content3 a:hover{
  background:#444;
}

/* HERO IMAGE */
.image1 img{
  width:100%;
  display:block;
}

.image1{
  position: relative;
}

.menu-panel{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #e6b8c6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: translateX(100%);
  transition: .4s;
  z-index: 20;
}

.menu-panel.active{
  transform: translateX(0);
}

/* ================= SECOND SECTION ================= */

.second-container{
  padding:50px 20px;
  text-align:center;
}

.look-content p{
  font-family:"Instrument Serif",serif;
  font-size:2rem;
}

.para p{
  max-width:600px;
  margin:auto;
}

/* ================= IMAGE SECTION ================= */

.img-section{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  padding:30px;
  max-width:1200px;
  margin:auto;
}

/* Mobile → 2 images per row */
.img1{
  flex:0 0 calc(50% - 10px);
  text-align:center;

  opacity:0;
  transition:transform .9s ease, opacity .9s ease;
  will-change: transform, opacity;
}

/* SAME IMAGE SIZE EVERYWHERE */
.img1 img{
  width:100%;
  height:380px;
  object-fit:cover;
  display:block;
  justify-content: center;
}

.img-head{
  font-family:"Instrument Serif",serif;
  font-size:22px;
  margin-top:10px;
}

.img-subhead{
  font-size:14px;
}

/* Scroll Animation start positions */
.img1:nth-child(odd){
  transform:translateY(-100px);
}

.img1:nth-child(even){
  transform:translateY(100px);
}

/* When visible */
.img1.show{
  opacity:1;
  transform:translateY(0);
}

.quote-section{
  width:100%;
  height: 100%;
  background-color:#ffd6e6;
}

.quote-container{
  width:90%;
  margin-left: 5%;
  padding: 5%;
}

.quote-para{
  background-color:#ffd6e6;
  font-size:80px;
  padding:60px 20px;   
  text-align:center;
  font-family:"Instrument Serif",serif;
  line-height: 1;
  text-transform: uppercase;
}

.services-section{
  padding:60px;
  font-family:"Instrument Serif",serif;
  padding-top: 0%;

}
.our-services{
  padding-left:2% ;
  /* background-color:#ffd7e6; */
}

.service-container{
 /* padding: 0%;
  width: 100%; */
  font-size:40px;
  font-family:"Instrument Serif",serif;
  /* background-color:#ffd7e6; */
}

.service-row{
  font-size:20px;
  display:grid;
  grid-template-columns: 1fr 1fr 3fr auto;
  align-items:center;
  padding:20px 0;
  border-bottom:1px solid #000000;

}

.service{
  font-size: 24px;
}

.price{
  font-weight:500;
}

.description{
  color:#000000;
}

.clients-container{
  padding:0px 20px;
  text-align:center;
}

.client-para{
  font-size:60px;
  font-family:"Instrument Serif",serif;
  margin-right: 60%;
}

.client-box{
  position:relative;
}
.client-img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}

.feedback{
  position:absolute;
  top:50%;
  left:60px;              /* move to left side */
  transform:translateY(-50%);

  display:flex;
  flex-direction:column;  /* stack one by one */
  gap:20px;
}

.feedback-card{
  background:white;
  padding:20px;
  width: 400px;
  height: 150px;
  text-align:left;
}

.name-row{
  display:flex;
  align-items:center;
  gap:10px;
  line-height: 2;
}

.name{
  font-weight:bold;
  font-size:20px;
}

.star{
  color:gold;
  font-size:20px;
}

.name, .star{
  display:inline;
}

.review{
  font-size: 14px;
  line-height: 1.5;
}

.brands{
  position: relative;
  text-align: center;
}

/* Background image */
.brands img{
  width: 100%;
  height: 650px;
  object-fit: cover;
  display: block;
}

/* Text over image */
.brand-mains{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}

.brand-head{
  font-size: 60px;
  margin-bottom: 40px;
  font-family:"Instrument Serif",serif;
}

/* Common row style */
.brand-row{
  display: flex;
  justify-content:space-between;
  font-size: 40px;
  margin: 50px 5px;
}


/* Row 1 – normal */
.brand-row:nth-child(1){
  margin-left: 50px;
}

/* Row 2 – shifted right */
.brand-row:nth-child(2){
  margin-left: 90px;

  width: 85%;
}

/* Row 3 – shifted more right */
.brand-row:nth-child(3){
  margin-left: 170px;
  width: 70%;
}

.brand1, .brand6{
  font-family: "Gravitas One", serif;
  font-weight: 200;
  font-style: normal;
}

.brand2, .brand5{
  font-family: "Betania Patmos In", cursive;
  font-weight: 400;
  font-style: normal;
}

.brand3, .brand4{
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
}

.look-container{
    margin: 40px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.look-container img{
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.hair-look {
    grid-column: 1 / -1;
    font-size: 50px;
    font-family:"Instrument Serif",serif;
    line-height: 2;
}

.timings-container{
    margin: 10px;
    padding: 10px;
}

.line1{
    font-family:"Instrument Serif",serif;
    text-align: center;
    font-size: 30px;
    line-height: 2;
}

.line2{
    font-family:"Instrument Serif",serif;
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
}

.mobile-no{
    line-height: 2;
}

.enquiry-container{
    background-color: rgb(244, 244, 244);
    margin: 20px;
    padding: 10px;
}
.link-container{
    justify-content: center;
    gap: 10px;
    display: flex;
}

.link-container a{
    font-size: 15px;
    color: #000000;
    font-family: "Helvetica W01 Roman";
}

.policy-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    line-height: 3;
}

.policy-container a{
    font-size: 15px;
    color: #000000;
    font-family: "Helvetica W01 Roman";
}

.icons{
    display:flex;
    justify-content: center;
    gap: 10px;
}

.icons img{   
    width: 30px;
    height: 30px;
}

.studio-name p{
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-weight: 700;
    font-size:120px;
    line-height:1;
    text-align: center;
    padding-top: 40px;
    margin: 40px 0px;
}

.caption{
    font-family: "Helvetica W01 Roman";
    font-size: 14px;
    text-align: center;
    margin: 50px 0px;
}


/* ================= DESKTOP ================= */

@media (min-width:1020px){

  .main-container{
    flex-direction:row;
    min-height:100vh;
  }

  .left-content{
    width:50%;
  }

  .image1{
    width:50%;

  }

  .image1 img{
    height:100%;
    object-fit:cover;
    position: relative;
  }
  
  .book-button{
    font-family:"Instrument Serif",serif;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px; 
    align-items: center;
    background: #000000;
    color: white;
    padding: 12px 25px;
    height: 50px;
    width: 120px;           
    z-index: 8;
    }

  h1{
    font-size:5rem;
  }

  .content2 p{
    font-size:3rem;
  }

  .second-container{
    display:flex;
    justify-content:space-between;
    text-align:left;
  }
.look-container img{
    width: 300px;
    height: 500px;
    object-fit: cover;
}
  .look-content,
  .para{
    width:48%;
  }

  .img1{
    flex:0 0 calc(25% - 15px);
  }
}

@media (max-width:768px){

.service-row{
  grid-template-columns:1fr;
  gap:8px;
}

.arrow{
  margin-top:10px;
}

.service{
  font-size: 28px;
}

.quote-para{
  font-size: 40px;
}
.client-para{
  font-size: 25px;
  margin-left: 0%;
  padding: 0%;
}


.feedback-card{
    width: 200px;
    height: 100px;
    padding-top: 0%;
}
.name, .review{
  font-size: 10px;
}

.client-img{
  height:400px;
}


  .brand-mains{
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .brand-head{
    font-size: 28px;
    margin-bottom: 20px;
  }

  /* Remove all V-shape layout */
  .brand-row{
    margin-left: 0 !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    margin-bottom: 25px;
  }

  .brands img{
    height: 500px;
  }

  .look-container{
    grid-template-columns: 1fr 1fr;
  }

  .look-container img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .hair-look{
    font-size: 30px;
  }
}

@media (max-width:480px){
  .policy-container{
    grid-template-columns: 1fr 1fr;
  }
}
